@import "about us";
/*--COLOR------*/
$mein-color-blue : #52cbf8;
$mein-color-orange : #ff8261;
$mein-color-icon : #fb6b45;
$mein-color-font : #556b72;
$mein-color-bg-blue : #e7f4f8;
$mein-color-bg-dkblue : #222836;
/*--COLOR-END--*/

/*-----HEADER------*/
.header{
    &_logo{
        &__img{
            position: relative;
            margin: 34px 0;
        }
        &__text{
            left: 72px;
            top:27px;
            position: absolute;
            display: inline-block;
            color: #161920;
            font-family: "OpenSans";
            font-size: 20px;
            font-weight: 700;
            line-height: 44px;
            text-transform: uppercase;
        }
    }
    &_support{
        position: absolute;
        right: 68px;
        width: 457px;
        border-top: 1px solid #e1e9f2;
        border-bottom: 1px solid #e1e9f2;
        margin-top: 27px;
        font-family: "OpenSans";
        font-size: 14px;
        font-weight: 400;
        padding: 0;
        &__text{ 
            line-height: 44px;
            float: right;
            color: #484e57;
            margin-bottom: 0;
        }
        &__link{   
            color: #9ba4b0;
            border-left: 1px solid #dde2e8;
            padding: 0 15px 0 15px;
            &:hover{
                color:#9ba4b0;
            }
            &:first-child{
                border: none;
                padding: 0 15px 0 0;
            }
            &:last-child{
                padding: 0 0 0 15px;
            }
        }
    }
    &_menu{
        padding: 0;
        &__item{
            background: $mein-color-orange;
            line-height: 56px;
            text-align: center;
            display: inline-block;
            width: 10%;
            float: left;
            &:hover{
                background: $mein-color-blue;
                transition: 0.5s;
            }
        }
        &__link{
            color: white;
            font-family: "OpenSans";
            font-size: 13px;
            font-weight: 400;
            text-transform: uppercase;
            &:hover{
                color: white;
                text-decoration: none;
            }
        }
    }
}
/*-----HEADER-END----*/
/*----SLIDER-BLOCK--------*/
.slider-block{
    background: $mein-color-bg-dkblue;
}
.slider{
    color: white;
    font-family: OpenSans;
    text-transform: uppercase;
    text-align: center;
    padding: 349px 0 125px 0;
    &_head{
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 0px;
        letter-spacing: 1.2px;
    }
    &_text{
        font-size: 20px;
        font-weight: 300;
    }
}
.slick-dotted.slick-slider {
    margin-bottom: 0px;
}
.slick-prev{
    left: 61px;
    top: 282px;
    z-index: 2;
    &:before {
        font-family: "FontAwesome";
        content: "\f104";
        color: white;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
    }
}
.slick-next{
    right: 60px;
    top: 281px;
    &:before {
        font-family: "FontAwesome";
        content: "\f105";
        color: white;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
    }
}
.slick-dots li {
    margin: 0;
    bottom:94px;
}
.slick-dots li button {
    border: 2px solid $mein-color-orange;
    border-radius: 100px;
    height: 13px;
    width: 13px;
    &:focus{
        border: 2px solid #5278db;
    }
}
.slick-prev, .slick-next {
    border-radius: 100px;
    width: 59px;
    height: 59px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    display: block;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: rgba(0,0,0,0);
}
.slick-dots {
    bottom: -15px;
    height: 0px;
}
/*----SLIDER-BLOCK-END------*/
/*--------DOMEN-------------*/
.domen{
    background: $mein-color-bg-blue;
}
.domen_search__icon{
    color:$mein-color-icon;
    font-size: 27px !important;
    font-size: 27px !important;
    font-weight: 400 !important;
    margin-top: 39px;

}
.domen_search__text{
    font-family: OpenSans;
    line-height: 19px;
    text-transform: uppercase;
    color: #859aa1;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    margin: 10px 0 0 0;
}
.domen_search__head{
    font-family: OpenSans;
    line-height: 31px;
    text-transform: uppercase;
    color: #556b72;
    font-size: 30px;
    font-weight: 800;
    margin: 0px;
}
.domen_search__input{
    width: 430px;
    height: 56px;
    background-color: white;
    border: 1px solid #dfeef3;
    color: #a0a9b6;
    padding: 25px;
    &::-webkit-input-placeholder {color:#a0a9b6;}
    &::-moz-placeholder          {color:#a0a9b6;}
    &:-moz-placeholder           {color:#a0a9b6;}
    &:-ms-input-placeholder      {color:#a0a9b6;}
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    margin: 71px 6px 81px -40px;
}
.domen_search__select{
    width: 165px;
    height: 56px;
    background-color: white;
    border: 1px solid #dfeef3;
    color: #a0a9b6;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    margin-right: 5px;
    padding-left: 23px
}
.domen_search__button{
    width: 196px;
    height: 55px;
    background-color: $mein-color-orange;
    color: white;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    letter-spacing: 1.2px;
    outline: 0;
}
/*--------DOMEN-END----------*/
/*--------BENEFITS-----------*/
.benefits{
    &_img__uptime{
        margin: 11px 0px 0 0;
        padding:0px;
        right: 11px;
        width: 69px;
        height: 56px;
    }
    &_img__support{
        margin: 20px 0px 0 0;
        padding:0px;
        right: 5px;
        width: 60px;
        height: 48px;
    }
    &_img__pc{
        margin: 20px 0px 0 0;
        padding:0px;
        left: 5px;
        width: 65px;
        height: 43px;
    }
    &_img__dns{
        margin: 12px 0px 0 0;
        padding:0px;
        right: 10px;
        width: 58px;
        height: 58px;    
    }
    &_img__transfer{
        margin: 17px 0px 0 0;
        padding:0px;
        left: 3px;
        width: 55px;
        height: 44px;
    }
    &_img__security{
        margin: 12px 25px 0 0;
        padding:0px;
        left: 18px;
        width: 45px;

    }
    h4{
        color: $mein-color-font;
        font-family: OpenSans;
        font-size: 16px;
        font-weight: 800;
        line-height: 31px;
        text-transform: uppercase;
        padding: 0;
        margin-bottom: 0;
        margin-left: 15px;
    }
    p{
        color: #a0a9b6;
        font-family: OpenSans;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        padding: 0;
        margin-left: 15px;
    }
    &_block{
        margin-bottom: 40px;
        &:last-child{
            margin-bottom: 80px;
        }
        
    }
    &_head__text{
        font-family: OpenSans;
        line-height: 19px;
        text-transform: uppercase;
        color: #859aa1;
        font-size: 18px;
        font-weight: 400;
        margin: 74px 0 0 0;
        position: relative;
        &:before{
            content: " ";
            width: 21px;
            height: 2px;
            background-color: $mein-color-icon;
            display: block;
            position: absolute;
            top:-10px;
        }
    }    
    &_head__head{
        font-family: OpenSans;
        line-height: 31px;
        text-transform: uppercase;
        color: #556b72;
        font-size: 30px;
        font-weight: 800;
        margin: 1px 0 22px 0px;
    }
}
/*--------BENEFITS-END-------*/
/*----------HOT-------------*/
.hot{
    background: #fffbde;
    &_now{
        padding-left: 0px;
    }
    &_head__text{
        font-family: OpenSans;
        line-height: 19px;
        text-transform: uppercase;
        color: #4c515b;
        font-size: 18px;
        font-weight: 400;
        margin: 115px 0 0 15px;
        position: relative;
        &:before{
            content: " ";
            width: 21px;
            height: 2px;
            background-color: $mein-color-icon;
            display: block;
            position: absolute;
            top:-10px;
        }
    }    
    &_head__head{
        font-family: OpenSans;
        line-height: 31px;
        text-transform: uppercase;
        color: #4c515b;
        font-size: 30px;
        font-weight: 800;
        margin: 0px 0 0px 15px;
    }
    &_now__block-one{
        margin-left: 10px;
        width: 357px;
        height: 116px;
        background-color: white; 
    }
    &_now__block-two{
        margin: 30px 0px 0 0;
        width: 337px;
        height: 96px;
        top:10px;
        left: 10px;
        background-color: white;
        border: 2px solid #fffbde;
        position: relative;
    }
    &_now__text{
        font-family: OpenSans;
        font-weight: 800;
        line-height: 44px;
        text-transform: uppercase;
        margin: 0;
        position: absolute;
        &:nth-child(1){
            color: #97947f;
            font-size: 14px;
            left: 14px;
        }
        &:nth-child(2){
            color: $mein-color-orange;
            font-size: 48px;
            top: 30px;
            left: 14px;
        }
        &:nth-child(3){
            color: $mein-color-blue;
            font-size: 48px;
            left: 130px;
            top:30px;
        }
        &:nth-child(4){
            font-size: 17px;
            color: #97947f;
            font-weight: 300;
            left: 240px;
            top: 20px;
        }
        &:nth-child(5){
            color: #4c515b;
            font-size: 17px;
            left: 240px;
            top: 40px;
        }
    }
    &_features{
        padding-left: 0px;
        &_head__text{
        font-family: OpenSans;
        line-height: 19px;
        text-transform: uppercase;
        color: #4c515b;
        font-size: 18px;
        font-weight: 400;
        margin: 115px 0 0 15px;
        position: relative;
        &:before{
            content: " ";
            width: 21px;
            height: 2px;
            background-color: $mein-color-icon;
            display: block;
            position: absolute;
            top:-10px;
        }
    }    
    &_head__head{
        font-family: OpenSans;
        line-height: 31px;
        text-transform: uppercase;
        color: #4c515b;
        font-size: 30px;
        font-weight: 800;
        margin: 0px 0 22px 15px;
    }
        &__link{
            font-weight: 400;
            color: #696556;
            font-family: OpenSans;
            font-size: 14px;
            padding: 5px 0 0 14px;
            &:last-child{
                padding-left: 25px;
            }
        }
        &__item{
            padding-bottom: 22px;
        }
        &__link-icon{
            color: #4c515b;
            font-family: FontAwesome;
            font-size: 12px !important; 
            padding-right: 10px;
        }
    }
    &_search__button{
    width: 165px;
    height: 55px;
    background-color:$mein-color-orange;
    color: white;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    letter-spacing: 1.2px;
    outline: 0;
    margin:261px 0 115px 2px;
}
}

/*----------HOT-END-----------*/
/*---------HOSTING-------------*/
.hosting{
    &_head__text{
        font-family: OpenSans;
        line-height: 19px;
        text-transform: uppercase;
        color: #859aa1;
        font-size: 18px;
        font-weight: 400;
        margin: 96px 0 0 15px;
        position: relative;
        &:before{
            content: " ";
            width: 21px;
            height: 2px;
            background-color: $mein-color-icon;
            display: block;
            position: absolute;
            top:-10px;
        }
    }    
    &_head__head{
        font-family: OpenSans;
        line-height: 31px;
        text-transform: uppercase;
        color: #556b72;
        font-size: 30px;
        font-weight: 800;
        margin: 1px 0 5px 15px;
    }
    &_block{
        text-align: center;
        border: 1px solid #e1eff4;
        margin: 22px 9px 0 20px;
        width: 263px;
        height: 478px;
        margin-bottom: 110px;
    }
    &_price{
        color: $mein-color-font;
        font-family: OpenSans;
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 800;
        line-height: 27px;
        padding-top: 35px;
        &__buck{
            font-size: 50px;
            font-weight: 300;
            line-height: 27px;
        }
        &__month{
        font-size: 14px;
        font-weight: 600; 
        color: $mein-color-font;
        font-family: OpenSans;
        text-transform: uppercase;
    }
    }
    &_button-one{
        margin: 15px 0 40px 0;
        width: 183px;
        height: 39px;
        background-color: $mein-color-blue;
        border: none;
        outline: 0;
        color: white;
        font-family: OpenSans;
        font-size: 14px;
        font-weight: 800;
        line-height: 27px;
        text-transform: uppercase;
    }
    &_list{
        color: #8d9198;
        font-family: OpenSans;
        font-size: 14px;
        font-weight: 400;
        &_item{
            line-height: 40px;
            border-bottom: 1px solid #e1eff4;
            &:last-child{
                border: none;
                margin-bottom: 15px;
            }
        }
    }
    &_button-two{
        width: 115px;
        height: 43px;
        background-color:$mein-color-orange;
        border: none;
        outline: 0;
        color: white;
        font-family: OpenSans;
        font-size: 13px;
        font-weight: 800;
        text-transform: uppercase;
    }
}
/*---------HOSTING-END---------*/
/*-------------NEWSLETTER--------------*/
.newsletter{
    background: $mein-color-bg-blue;
}
.newsletter_search__icon{
    color:$mein-color-icon;
    font-size: 27px !important;
    font-size: 27px !important;
    font-weight: 400 !important;
    margin: 63px 0 0 0px;

}
.newsletter_search__text{
    font-family: OpenSans;
    line-height: 19px;
    text-transform: uppercase;
    color: #859aa1;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    margin: 8px 0 0 0px;
}
.newsletter_search__head{
    font-family: OpenSans;
    line-height: 31px;
    text-transform: uppercase;
    color: #556b72;
    font-size: 30px;
    font-weight: 800;
    margin: 1px 0 0 0px;
}
.newsletter_search__input{
    width: 722px;
    height: 56px;
    background-color: white;
    border: 1px solid #dfeef3;
    color: #a0a9b6;
    padding: 25px;
    &::-webkit-input-placeholder {color:#a0a9b6;}
    &::-moz-placeholder          {color:#a0a9b6;}
    &:-moz-placeholder           {color:#a0a9b6;}
    &:-ms-input-placeholder      {color:#a0a9b6;}
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    margin: 95px -5px 80px 30px;
}
.newsletter_search__button{
    width: 196px;
    height: 55px;
    background-color: $mein-color-orange;
    color: white;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    letter-spacing: 1.2px;
    outline: 0;
}
.newsletter_block{
    padding-right: 0px;    
}
/*-------------NEWSLETTER-END----------*/
/*---------FOOTER------------------*/
.footer{
    background: #4c515b;
    li{
        color: #909aad;
        font-family: OpenSans;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
    }
    a{
        color: #909aad;
        text-decoration: none;
        &:hover{
            color: #909aad;
            text-decoration: none;
        }
    }
    i{
        color: #909aad;
        font-family: FontAwesome;
        font-size: 24px;
        font-weight: 400;
        line-height: 48px;
        margin: 0 7px;
    }
    &_block__head{
        color: white;
        font-family: OpenSans;
        font-size: 14px;
        font-weight: 700;
        line-height: 27px;
        text-transform: uppercase;
    }
    &_logo{
        margin-top: 137px;
        right: 13px;
        margin-bottom: 150px;
        &__img{
            position: relative;
            margin: 34px 0;
        }
        &__text{
            left: 72px;
            top:27px;
            position: absolute;
            display: inline-block;
            color: #e7f4f8;
            font-family: OpenSans;
            font-size: 20px;
            font-weight: 700;
            line-height: 44px;
            text-transform: uppercase;
            position: absolute;
        }
        &__link{
            position: absolute;
            bottom: 3px;
            left: 73px;
        }
    }
    &_block__links{
        padding-left: 0px;
        right: 20px;
    }
    &_block__list{
        display: inline-block;
        &:last-child{
            margin: 0 0px 20px 60px;
        }
    }
    &_block__head{
        margin-top: 96px;
    }
}
/*---------FOOTER-END---------------*/